swagger: '2.0'
info:
  description: work.muxixyz.com API
  version: 1.0.0
  title: Work API
  contact:
    email: 1113713599@qq.com
host: work.muxixyz.com
basePath: /api/v1.0
schemes:
  - https
  - http
tags:
  - name: folder
    description: 文件夹　
  - name: file
    description: 文件
  - name: doc
    description: 文档
  - name: recyclebin
    description: 回收站
paths:
  /project/{pid}/folder/{floor}/get-info/{type}/:
    get:
      tags:
        - folder
      summary: 'get folder/file/doc number, folder/file/doc names, folder/file/docID'
      description: return string and integer
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/type"
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/info"
            
  /project/{pid}/folder/{floor}/new/:
    post:
      tags:
        - folder
      summary: build a new folder
      description: admin can build a folder by this api
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/data"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/edit/:
    post:
      tags:
        - folder
      summary: edit folder name
      description: change name
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/floor" 
        - $ref: "#/parameters/data"
      responses:
        '200':
          description: edit successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/move/:
    post:
      tags:
        - folder
      summary: move folder
      description: move a folder to another place
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor" 
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: move successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/move/several/:
    post:
      tags:
        - folder
      summary: move several folders
      description: move folders to another place
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: move successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/delete/:
    delete:
      tags:
        - folder
      summary: delete a folder
      description: 'receive a folderID,and move it into the recyclebin'
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/floor"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/delete/several/:
    delete:
      tags:
        - folder
      summary: delete several folders
      description: 'receive several folderIDs,and move them into the recyclebin'
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/newdoc/:
    post:
      tags:
        - doc
      summary: build a new doc
      description: admin can build a doc by this api
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/doc"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/{docid}/view/:
    get:
      tags:
        - doc
      summary: 'get docname, content, username'
      description: return string and integer
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/docid"
        - $ref: "#/parameters/doc"  
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/doc"
  /project/{pid}/folder/{floor}/{foid}/doc/{docid}/edit/:
    post:
      tags:
        - doc
      summary: edit content
      description: edit content in doc
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/docid"
        - $ref: "#/parameters/doc"
      responses:
        '200':
          description: edit successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/{docid}/move/:
    post:
      tags:
        - doc
      summary: move doc
      description: move doc to another place
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/docid"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: move successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/move/several/:
    post:
      tags:
        - doc
      summary: move several documents
      description: move documents to another place with there ID
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: move successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/{docid}/delete/:
    delete:
      tags:
        - doc
      summary: delete a folder
      description: 'receive a folderID,and move it into the recyclebin'
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/docid"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/delete/several/:
    delete:
      tags:
        - doc
      summary: delete several folders
      description: 'receive several docIDs,and move them into the recyclebin'
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/move"
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/folder/{floor}/{foid}/doc/{docid}/comment/:
    post:
      tags:
        - doc
      summary: make a comment to a doc
      description: admin can make a comment by this api
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/token"
        - $ref: "#/parameters/foid"
        - $ref: "#/parameters/floor"
        - $ref: "#/parameters/docid"
        - name: comment
          in: body
          description: a comment for the doc
          schema:
            required: 
              - username
              - comment
            properties:
              username:
                type: string
              comment:
                type: string
      responses:
        '200':
          description: OK
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
  /project/{pid}/recyclebin/{type}/:
    get:
      tags:
        - recyclebin
      summary: 'get folder/file/doc number, folder/file/doc names, folder/file/docID'
      description: return string and integer
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/type"
        - $ref: "#/parameters/token"
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/info"
  /project/{pid}/recyclebin/{id}/recover/{type}/:
    post:
      tags:
        - recyclebin
      summary: recover
      description: recover
      produces:
        - application/json
      parameters:
        - $ref: "#/parameters/pid"
        - $ref: "#/parameters/type"
        - $ref: "#/parameters/token"
        - name: id
          in: path
          description: folder/file/doc ID
          required: true
          type: integer
      responses:
        '200':
          description: edit successfully
        '401':
          description: verify failed
        '403':
          description: insufficient permissions
parameters:
  pid:
    name: pid
    in: path
    description: projectID
    required: true
    type: integer
  floor:
    name: floor
    in: path
    description: the floor of folders
    required: true
    type: integer
  type:
    name: type
    in: path
    description: 'folder-1,file-2,doc-3'
    required: true
    type: integer
  token:
    name: token
    in: header
    description: token to verify admin
    required: true
    type: string
  foid:
    name: foid
    in: path
    description: folderID
    required: true
    type: integer
  move:
    name: move
    in: body
    description: change including
    schema:
      required:
        - target
        - floor
      properties:
        doclist:
          type: array
        folist:
          type: array
        target:
          type: integer
        floor:
          type: integer
  data:  
    name: data
    in: body
    description: required information to post a new folder
    schema:
      required:
        - foldername
      properties:
        username:
          type: string
        foldername:
          type: string
  doc:
    name: doc
    in: body
    description: required information to post a new doc
    schema:
      required:
        - username
        - docname
        - content
      properties:
        username:
          type: string
        docname:
          type: string
        content:
          type: string
  docid:
    name: docid
    in: path   
    description: dcoID
    required: true
    type: integer  
    
definitions:
  info:
    required: 
      - namelist
      - count
      - IDlist
    properties:
      namelist:
        type: array
      IDlist:
        type: array
      count:
        type: integer
  doc:  
    required:
      - docname
      - content
      - username
    properties:
      dconame:
        type: string
      content:
        type: string
      username:
        type: string
